@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;
}
.container-main {
  margin: 0px auto;
}

.brand {
  font-size: 18px;
  font-family: 'Holtwood One SC';
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 5%;
  color: white;
  /* margin-bottom: 35px; */
  border-bottom: white 2px solid;
}

ul a {
  font-family: 'Holtwood One SC';
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 5px;
}
.stars {
  display: block;
}

.company-name {
  background-image: url('/assets/motor-blue.jpg');
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

header h1 {
  font-family: 'Holtwood One SC';
  font-size: 56px;
  letter-spacing: 5px;
  color: #fff;
}
.services {
  background-image: url('/assets/flash-tires.jpg');
  font-size: 28px;
  font-family: 'Aleo';
  text-align: center;
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}
.services h2 {
  font-family: 'Holtwood One SC';
  letter-spacing: 3px;
  color: #d70000;
}
h3 {
  padding-bottom: 40px;
}
.services {
  padding: 30px;
  margin-bottom: 100px;
  font-family: 'Roboto';
}
.moto-mec {
  font-size: 42px;
  font-family: 'Holtwood One SC';
  color: white;
  padding-bottom: 80px;
}

ul {
  list-style: none;
}
li {
  margin: 10px;
}

.random-img {
  margin-top: 20px;
  width: calc(100% - 1px);
  height: auto;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}
.photo-container {
  align-content: center;
}

.tow-container {
  display: flex;
  justify-content: stretch;
}

.tow-img {
  padding-top: 20px;
  background-color: #322f3d;
  width: 800px;
}

.location {
  background-image: url('/assets/tire-pile.jpg');
  background-position: center;
  font-size: 28px;
  font-family: 'Roboto';
  padding-top: 30px;
  margin-top: 100px;
  color: white;
  text-align: center;
  padding-bottom: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.location h2 {
  font-family: 'Holtwood One SC';
  letter-spacing: 3px;
  color: #d70000;
}

.towing {
  padding-top: 50px;
}
.map-title {
  font-size: 42px;
  font-family: 'Holtwood One SC';
  letter-spacing: 3px;
  margin-top: 100px;
}

.maps {
  background-image: url('/assets/road.jpg');
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding-bottom: 25px;
}
.maps h3 {
  color: #d70000;
}
.frames {
  width: 800px;
  height: 400px;
  margin: 15px 0;
}
.footer-al {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  color: white;
}

/**** MEDIA QUERY ****/

/* ----------- iPhone X ----------- */

/* Portrait */
@media (max-width: 966px) {
  /* ul a {
    font-size: 14px;
  } */
  .company-name h1 {
    font-size: 28px;
  }
  .moto-mec {
    font-size: 20px;
  }
  .tow-img {
    max-width: 100%;
  }
  /* .random-img {
    width: 400px;
  } */

  header h1 {
    font-size: 36px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media (max-width: 935px) {
  /* .random-img {
    width: 600px;
  } */
  .tow-img {
    max-width: 400px;
  }
  .company-name .location {
    background-position: center;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media (max-width: 908px) {
  .tow-img {
    max-width: 400px;
  }
  /* .random-img {
    width: 600px;
  } */
  .services .company-name .location {
    background-position: center;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media (max-width: 812px) {
  .maps {
    display: flex;
    flex-direction: column;
  }

  .tow-img {
    max-width: 300px;
  }
  /* .random-img {
    width: 400px;
  } */
  header h1 h2 h3 {
    font-size: 22px;
  }
  /* ul a {
    font-size: 14px;
  } */
  .company-name h1 {
    font-size: 28px;
    padding: 20px;
  }
  .moto-mec {
    font-size: 22px;
  }
  .services .company-name .location {
    background-position: center;
  }
  .frames {
    width: 450px;
    height: 300px;
    margin: 15px 0;
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media (max-width: 608px) {
  /* .random-img {
    width: 350px;
  } */
  .tow-img {
    max-width: 300px;
  }
  .services .company-name .location {
    background-position: center;
  }
}

/* Portrait */
@media (max-width: 468px) {
  /* .random-img {
    width: 325px;
  } */
  .tow-img {
    max-width: 300px;
  }
  .services .company-name .location {
    background-position: center;
  }
  .frames {
    width: 350px;
    height: 300px;
    margin: 15px 0;
  }
  .footer-al {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    color: white;
  }
}
/* SMALL Phones */
@media (max-width: 320px) {
  .navbar-brand {
    font-size: 8px;
  }
  /* .random-img {
    width: 250px;
  } */
  .tow-img {
    max-width: 300px;
  }
  /* ul a {
    font-size: 14px;
  } */
  .company-name h1 {
    font-size: 28px;
  }
  .moto-mec {
    font-size: 18px;
  }
  .services .company-name .location {
    background-position: center;
  }
  .frames {
    width: 320px;
    height: 300px;
    margin: 15px 0;
  }
}
